[project]
	description = Clements Star Map
[access "refs/*"]
	owner = group user/Greg Clements (gregnebr)
[access "refs/for/refs/*"]
	read = group user/Greg Clements (gregnebr)
	push = group user/Greg Clements (gregnebr)
	label-Code-Review = -2..+2 group user/Greg Clements (gregnebr)
	label-Verified = -1..+1 group user/Greg Clements (gregnebr)
	rebase = group user/Greg Clements (gregnebr)
	removeReviewer = group user/Greg Clements (gregnebr)
	submit = group user/Greg Clements (gregnebr)
[access "refs/heads/*"]
	read = group user/Greg Clements (gregnebr)
	create = group user/Greg Clements (gregnebr)
	push = +force group user/Greg Clements (gregnebr)
	pushMerge = group user/Greg Clements (gregnebr)
[access "refs/tags/*"]
	push = +force group user/Greg Clements (gregnebr)
	pushTag = group user/Greg Clements (gregnebr)
	pushSignedTag = group user/Greg Clements (gregnebr)
